<div class="animated fadeIn" action="" method="post" enctype="multipart/form-data">
    <form [formGroup]="QueryReciept" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Reciept Details
                    </div>
                    <form novalidate method="post" [formGroup]="cashOfficeForm">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Reciept
                                                number</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="Reciept number" readonly>
                                            </div>
                                            <label class="col-md-3 col-form-label" for="text-input">RecieptDate</label>
                                            <div class="col-md-3">
                                                <input type="date" formControlName="startDate" class="form-control">
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Cashoffice</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="Cashoffice" readonly>
                                            </div>
                                            <label class="col-md-3 col-form-label" for="text-input">RecievedFrom</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="RecievedFrom" readonly>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="text-input">Postedstatus/batchno</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="Postedstatus" readonly>
                                            </div>
                                            <label class="col-md-3 col-form-label" for="select">Paymentmethod:</label>
                                            <div class="col-md-3">
                                                <select class="custom-select" formControlName="branchCode"
                                                    (change)="updateBranchName($event)" required>
                                                    <option selected="selected">Please Select</option>
                                                    <option *ngFor="let br of allBranches" [value]="br.abbrName">
                                                        {{br.abbrName}}</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">CashierName</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="CashierName" readonly>
                                            </div>
                                            <label class="col-md-3 col-form-label" for="text-input">RecieptAmount</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                   readonly>
                                            </div>

                                        </div>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
        </div>
        <form [formGroup]="QueryReciept" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Payment Details
                        </div>
                        <form novalidate method="post" [formGroup]="cashOfficeForm">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="text-input">Cheque/Referencenumberr</label>
                                                <div class="col-md-3">
                                                    <input type="text" formControlName="recieptDesc" class="form-control"
                                                        placeholder="Reciept number" readonly>
                                                </div>
                                                <label class="col-md-3 col-form-label" for="text-input">ReferenceDate</label>
                                                <div class="col-md-3">
                                                    <input type="date" formControlName="startDate" class="form-control">
                                                </div>
    
                                            </div>
    
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="select">BankName:</label>
                                                <div class="col-md-3">
                                                    <select class="custom-select" formControlName="branchCode"
                                                        (change)="updateBranchName($event)" required>
                                                        <option selected="selected">Please Select</option>
                                                        <option *ngFor="let br of allBranches" [value]="br.abbrName">
                                                            {{br.abbrName}}</option>
                                                    </select>
                                                </div>
                                                <label class="col-md-3 col-form-label" for="select">BranchName:</label>
                                                <div class="col-md-3">
                                                    <select class="custom-select" formControlName="branchCode"
                                                        (change)="updateBranchName($event)" required>
                                                        <option selected="selected">Please Select</option>
                                                        <option *ngFor="let br of allBranches" [value]="br.abbrName">
                                                            {{br.abbrName}}</option>
                                                    </select>
                                                </div>
    
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="text-input">Drawee</label>
                                                <div class="col-md-3">
                                                    <input type="text" formControlName="recieptDesc" class="form-control"
                                                         readonly>
                                                </div>
                                                </div>
                                                                                        
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            </div>
    
    
        </form>
        <form [formGroup]="QueryReciept" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Reciept Applications
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body" style="align-self: center">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2">
                                                <button type="submit" class="btn btn-md btn-primary">Save</button>
                                            </div>
                                            <!-- <div class="btn-group mr-2">
                                                <button type="button" class="btn btn-md btn-primary" (click)="addRow()">Add Cashier</button>
                                            </div> -->
                                            <div class="btn-group mr-2">
                                                <button type="button" class="btn btn-md btn-primary ">Clear</button>
                                            </div>
                                            <div class="btn-group mr-2">
                                                <button type="button" class="btn btn-md btn-primary ">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                          
                    </div>
                </div>
            </div>
    
    
        </form>


    </form>

    <!--form end -->
</div>