<div class="animated fadeIn" action="" method="post" enctype="multipart/form-data">
    <form [formGroup]="QueryReciept" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Print Bank Deposit Slip
                    </div>
                    <form novalidate method="post" [formGroup]="cashOfficeForm">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Deposit
                                                number</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="Deposit number" readonly>
                                            </div>
                                            <label class="col-md-3 col-form-label" for="text-input">cashoffice</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="cashoffice" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Reciept
                                                Date:</label>
                                            <div class="col-md-3">
                                                <input type="date" formControlName="startDate" class="form-control">
                                            </div>
                                            <label class="col-md-3 col-form-label" for="select1">Deposit Date:</label>
                                            <div class="col-md-3">
                                                <input type="date" formControlName="endDate" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Cashier</label>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="recieptDesc" class="form-control"
                                                    placeholder="Cashier" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="" method="post" [formGroup]="createCashier" (ngSubmit)="onSubmit(createCashier)">
                            <div class="col-md-14">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Denomination</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="text-input">Amount</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control"
                                                        formControlName="cashierName" required>
                                                </div>
                                                <label class="col-md-3 col-form-label" for="text-input">Total Denomination
                                                    cash</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control"
                                                        formControlName="cashierCode" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="select">Denomination
                                                    Code:</label>
                                                <div class="col-md-3">
                                                    <select class="custom-select" formControlName="branchCode"
                                                        (change)="updateBranchName($event)" required>
                                                        <option selected="selected">Please Select Denomination code
                                                        </option>
                                                        <option *ngFor="let br of allBranches" [value]="br.abbrName">
                                                            {{br.abbrName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="disabled-input">Add
                                                    Denomation</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" formControlName="branchName"
                                                        readonly>
                                                </div>
                                                <button type="button" class="delete" ng-click=""
                                                    ng-show="!inactive">Delete</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </form>

    <!--form end -->
</div>