
<div class="animated fadeIn">

<!-- BEGIN USER INFO-INPUT FORM -->

<div class="row">
  <div class="col-lg-12"> <!-- col-lg-6 -->
      <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> User Information
          </div>

          <div class="card-body">
              <form>
                  <div class="form-row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="USERNAME">
                    </div>
                    
                    <div class="col">
                        <input type="text" class="form-control" placeholder="FIRST NAME">
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="LAST NAME">
                    </div>

                  </div>

                </form>
          </div>
      </div>
  </div>
</div>

<!-- dbg. PASSWORD INPUT -->

<div class="animated fadeIn">

<div class="row">
<div class="col-lg-12"> <!-- col-lg-6 -->
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Change Password
    </div>
      
      <div class="card-body">
        <div class="form-group">
          <input type="text" class="form-control" id="pass" placeholder="OLD PASSWORD">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="oldPass" placeholder="NEW PASSWORD">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="newPass" placeholder="CONFIRM PASSWORD">
      </div>
        
      </div>
    </div>
  </div>
</div>

<!-- dbg. BUTTON FIELDS -->

<div class="animated fadeIn">
<div class="card">
  <!-- <div class="card-header">
      <strong>Standard Buttons</strong>
  </div> -->
  
  <div class="card-body">
    <div class="row align-items-center">
            
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-primary">Change</button>
      </div>
      
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-primary">Clear</button>
      </div>
      
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-primary">Exit</button>
      </div>
      
    </div>
    
  </div>

</div>

</div>