<div *ngIf="showDiv" class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Cashoffice Details
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>CashOffice Code</th>
                                <th>CashOffice Name</th>
                                <th>Branch</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let co of pagedItems">
                                <td><input type="checkbox" id="defaultCheck" (change)="showDetails(co,$event)"></td>
                                <td>{{co.cashOfficeCode}}</td>
                                <td>{{co.cashOfficeDesc}}</td>
                                <td>{{co.branchCode}}</td>
                                <td><button type="button" class="btn btn-link" (click)="showAssignApplication(co.cashOfficeCode)">Assign
                                        Applicarion</button></td>
                                <td><button type="button" class="btn btn-link" (click)="showAssignPayMethod(co.cashOfficeCode)">Assign
                                        Paymentmethod</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item active">
                                <a class="page-link" (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <form novalidate method="post" [formGroup]="cashOfficeForm">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">CashOffice Code:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" formControlName="cashOfficeCode">
                            </div>
                            <label class="col-md-3 col-form-label" for="text-input">CashOffice Desc:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" formControlName="cashOfficeDesc">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Branch Code:</label>
                            <div class="col-md-3">
                                <select class="custom-select" formControlName="branchCode" (change)="updateBranchName($event)">
                                    <option selected="selected"></option>
                                    <option *ngFor="let br of allBranches" [value]="br.abbrName">{{br.abbrName}}</option>
                                </select>
                            </div>
                            <label class="col-md-3 col-form-label" for="text-input">Branch:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" formControlName="branchName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="align-self: center">
                        <div class="btn-toolbar">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-md btn-primary ">Save</button>
                            </div>
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-md btn-primary">Find</button>
                            </div>
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-md btn-primary" (click)="clearForm()">Clear</button>
                            </div>
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-md btn-primary ">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <!--form end -->
    </form>
</div>
<div *ngIf="showAppDiv" class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Assign Application to Cashoffice
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Application Code</th>
                                <th>Application Description</th>
                                <th>Application Start Date</th>
                                <th>Application Start Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let app of assignedapps">
                                <td><input type="radio" name="exampleRadios" id="exampleRadios1" value="option1"></td>
                                <td>{{app.applicationCode}}</td>
                                <td>{{app.applicationDesc}}</td>
                                <td>{{app.startDate | date }}</td>
                                <td>{{app.endDate | date}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <form novalidate method="post" [formGroup]="assignApplicationForm">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Cash Office:</label>
                            <div class="col-md-3">
                                <input type="text" formControlName="cashOfficeCode" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Application Code:</label>
                            <div class="col-md-3">
                                <select class="custom-select" formControlName="applicationCode" (change)="updateAppDetails($event)">
                                    <option selected >Please Select</option> 
                                    <option *ngFor="let br of applications" [value]="br.appId">{{br.applicationCode}}</option>
                                </select>
                            </div>
                            <label class="col-md-3 col-form-label" for="text-input">Application Desc:</label>
                            <div class="col-md-3">
                                <input type="text" formControlName="applicationDesc" class="form-control" placeholder="Text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="date-input">Application start date:</label>
                            <div class="col-md-3">
                                <input type="date" formControlName="startDate" class="form-control">
                            </div>
                            <label class="col-md-3 col-form-label" for="date-input">Application Desc:</label>
                            <div class="col-md-3">
                                <input type="date" formControlName="endDate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="align-self: center">
                        <div class="btn-toolbar">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-md btn-primary " (click)="assignApplication(assignApplicationForm)">Save</button>
                            </div>
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-md btn-primary" (click)="mainPage()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--/.col-->
    <!--form end -->
</div>
<div *ngIf="showPayMethodDiv" class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Assign PaymentMethod to Cashoffice
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>PaymentMethod Code</th>
                                <th>PaymentMethod Description</th>
                                <th>PaymentMethod Start Date</th>
                                <th>PaymentMethod Start Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let app of assignedpayMethods">
                                <td><input type="radio" name="exampleRadios" id="exampleRadios1" value="option1"></td>
                                <td>{{app.pymtMethodCode}}</td>
                                <td>{{app.pymtMethodDesc}}</td>
                                <td>{{app.startDate | date }}</td>
                                <td>{{app.endDate | date }}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <form novalidate method="post" [formGroup]="assignPayMethodForm" (ngSubmit)="assignPaymentMenthod(assignPayMethodForm)">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Cash Office:</label>
                        <div class="col-md-3">
                            <input type="text" formControlName="cashOfficeCode" class="form-control" placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">PaymentMethod Code:</label>
                        <div class="col-md-3">
                            <select class="custom-select" formControlName="pymtMethodCode" (change)="updatePayMethodDetails($event)">
                                <option selected >Please Select</option> 
                                <option *ngFor="let br of paymentMethods" [value]="br.payMethodId">{{br.payMethodCode}}</option>
                            </select>
                        </div>
                        <label class="col-md-3 col-form-label" for="text-input">PaymentMethod Desc:</label>
                        <div class="col-md-3">
                            <input type="text" formControlName="pymtMethodDesc" class="form-control" placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">PaymentMethod Start date:</label>
                        <div class="col-md-3">
                            <input type="date" formControlName="startDate" class="form-control" placeholder="Text">
                        </div>
                        <label class="col-md-3 col-form-label" for="text-input">PaymentMethod End date:</label>
                        <div class="col-md-3">
                            <input type="date" formControlName="endDate" class="form-control" placeholder="Text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" style="align-self: center">
                    <div class="btn-toolbar">
                        <div class="btn-group mr-2">
                            <button type="submit" class="btn btn-md btn-primary " >Save</button>
                        </div>
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-md btn-primary" (click)="mainPage()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <!--/.col-->
    <!--form end -->
</div>